
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: black;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    padding: 10px 20px;
    /* position: relative; */
    max-width: 50%;
  
    margin: 0 auto; 
    
}
.nav-title{
    color: rgba(230, 83, 60, 1);
    font-weight: bolder;
    font-size: 20px;
    /* margin-right: 500px; */
}
.nav-links{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(131, 127, 127);
    padding: 10px;
    border-radius: 15px;
    margin-left: 170px;
   
}
.bnr-img{
    max-width: 100%;
}
.nav-items{
    list-style: none;
   
 
}
.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 16px;
}
#home{
    padding: 8px 15px;
    border-radius: 14px;
    background-color: rgba(230, 83, 60, 1);
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        
}

.banner-content {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  max-width: 50%;
  
  margin: 0 auto; 

}
.fa-solid {
   
    
    display: none;
}
.banner-heading {
 
    font-size: 3.5rem; 
    line-height: 1.2;
    text-align: start;
    
    font-weight: bolder; 
    color:white; 
    
  }
  .banner-text{
   
    color:rgb(175, 174, 174);
    text-align: start;
    max-width: 340px;
   
    font-size: 12px;
    
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .italic {
    font-style: italic;
}

 
.btn-bnr{
   
    /* padding-top: 20px; */
   
    display: flex;
    
}
 
.button-banner{
    text-decoration: none;
      color: white;
     
      border-radius: 12px;
     
      padding: 8px,20px;
      
      margin-right: 10px;
  }
 
  #Download{
    padding: 8px 15px;
    border-radius: 14px;
    border: 1px solid white;
    background-color: black;
}
.image-container {
    position: relative;
    display: inline-block;
    padding: 10px;
}


.custom-button {
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    top: 30%; 
    
    transform: translate(-50%, -50%); 
    width: 60%;
    position: absolute;

}

  
.second-button {
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    top: 80%; 
    left: 10%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    width: 60%;

}

.flex-container {
    display: flex;
    align-items: center; 
    
}

.circle {
    width: 30px;
    height: 30px;
    background-color: rgba(230, 83, 60, 1);
    margin-right: 4px;
    border-radius: 50%;
}
.video{
    color: rgb(175, 174, 174);
    font-size: 12px;
    text-align: start;
   
}
.video-five {
    margin: 0; 
    font-size: 24px; 
    font-weight: bolder;
    color: white; 
    text-align: start;
}
.second-container{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.second-container-title
{
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.second-container-text{
   
    color:rgb(175, 174, 174);
   
    text-align: center;
    font-size: 12px;
   
    
  }
  /* .body-image{
    display: flex;
    justify-content: center;
    align-items: center;
   
  } */
  .body-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.body-image div {
    text-align: center;
}

.body-image img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    box-shadow: 0 0 20px 5px rgba(13, 28, 44, 0.7); 
    
}



@media screen and (max-width: 576px){
    .nav-links {
        display: none;
    }
    
.fa-solid {
    color: white;
    display: block;
    
}
.banner-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.body-image div {
    flex: 1 1 100%;  /* Each item takes up 100% of the width (one per row) */
    margin: 10px 0;  /* Adjust margin for vertical spacing */
}

    }
    

 @media screen and (min-width: 576px)and(max-width: 992px){  .navbar {
    flex-direction: row; 
}

.nav-links {
    flex-direction: row; 
}
  
.fa-solid {
    display:none;
    
}
.banner-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.body-image div {
    flex: 2 1 100%;  /* Each item takes up 100% of the width (one per row) */
    margin: 10px 0;  /* Adjust margin for vertical spacing */
}
}

    