
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: black;
    margin: 0;
}

.navbar {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    /* position: relative; */
 
}
.nav-title{
    color: rgba(230, 83, 60, 1);
    font-weight: bolder;
    font-size: 20px;
    /* margin-right: 500px; */
}
.nav-links{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(131, 127, 127);
    padding: 10px;
    border-radius: 15px;
    margin-left: 700px;
   
}
.bnr-img{
    max-width: 100%;
}
.nav-items{
    list-style: none;
   
 
}
.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 16px;
}
.home{
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 14px;
    background-color: rgba(230, 83, 60, 1);
    /* margin: 10px; */
    align-items: start;
    margin-right: 10px;
    border: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        
}

.banner-content {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin: auto;
 width: 80%;
 

}
.fa-solid {
   
    
    display: none;
}
.banner-heading {
 
    font-size: 3.5rem; 
    line-height: 1.2;
    text-align: start;
    
    font-weight: bolder; 
    color:white; 
    
  }
  .banner-text{
   
    color:rgb(175, 174, 174);
    text-align: start;
    max-width: 340px;
   
    font-size: 12px;
    
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .italic {
    font-style: italic;
}

 
.button-container {
    display: flex;
    justify-content: center; 
   align-items: center;
    margin-top: 20px; 
}


 
.button-banner{
    text-decoration: none;
      color: white;
     
      border-radius: 12px;
     
      padding: 8px,20px;
      
      margin-right: 10px;
  }
 
  .Download{
    padding: 8px 15px;
    border-radius: 14px;
    font-size: 16px;
    background-color: black;
    color: white;
    margin-left: 10px;
    border: 1px solid white;
    
}
.image-container {
    position: relative;
    display: inline-block;
    padding: 10px;
}


.custom-button {
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    top: 30%; 
    
    transform: translate(-50%, -50%); 
    width: 60%;
    position: absolute;

}

  
.second-button {
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    top: 80%; 
    left: 10%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    width: 60%;

}

.flex-container {
    display: flex;
    align-items: center; 
    
}

.circle {
    width: 30px;
    height: 30px;
    background-color: rgba(230, 83, 60, 1);
    margin-right: 4px;
    border-radius: 50%;
}
.video{
    color: rgb(175, 174, 174);
    font-size: 12px;
    text-align: start;
   
}
.video-five {
    margin: 0; 
    font-size: 24px; 
    font-weight: bolder;
    color: white; 
    text-align: start;
}
.second-container{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.second-container-title
{
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.second-container-text{
   
    color:rgb(175, 174, 174);
    /* max-width: 200px; */
    text-align: center;
    word-wrap: break-word;
   
    font-size: 12px;
    word-wrap: break-word;
  }
  .third-container-text{
    color:rgb(175, 174, 174);
    max-width: 500px;
    margin-top: 0%;
    text-align: start;
    word-wrap: break-word;
   
    font-size: 12px;
    word-wrap: break-word;
  }
  .third-container-title{
    text-align: start;
    /* max-width: 700px; */
    word-wrap: break-word;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
  /* .body-image{
    display: flex;
    justify-content: center;
    align-items: center;
   
  } */
  .body-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.body-image div {
    text-align: center;
}

.body-image img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    box-shadow: 0 0 20px 5px rgba(13, 28, 44, 0.7); 
    
}


.third-section {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px; 
    border-radius: 10px; 
    margin: auto;
    width: 90%;
    max-width: 100%;
    margin-bottom: 20px;
}

.third-section img {
    max-width: 500px;
    border-radius: 15px;
    height: auto; 
}

.third-text{
align-items: center;
justify-content: center;
}
.button-banner {
    margin-top: 10px;
    padding: 10px 20px;
    margin-left: 300px;
    border-radius: 14px;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
   
}
.second-container-button {
    margin-top: 10px;
    padding: 10px 20px;
  
    border-radius: 14px;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
   
}
#home {
    background-color: rgba(230, 83, 60, 1);
    border-radius: 14px;
    padding: 5px 10px;
    /* color: white;  */
}
.fourth-section {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    padding: 30px;
    
    /* padding: 20px;  */
}
.fourth-container-title{
    text-align: start;
   
    color: white;
    font-size: 24px;
    font-weight: 700;
}
img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imageset{
align-items: center; 
justify-content: center;
}
.image-row img{
 
 /* width: 500px; */
 height: 200px;
   
}
.bmi-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

.bmi-table th, .bmi-table td {
    border: 1px solid #e0e0e0;; 
    padding: 10px; 
    text-align: left; 
    color: #6e6e6e;
}
.bmi-table-text{
    color: white;
    font-weight: bold;
}
.bmi-table th {
   
    color: white; 
}
.image-row{
    display: flex; 
   margin-left: 40px;
    margin-right: 40px;
}
.small-img {
  
   width: 50%; 
}

.large-img {
    width: 150%;
    background-color: rgb(177, 40, 40);
   
}
.medium-img{
    width: 80%;
}


.bmi-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 20px;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.left-side, .right-side {
    width: 45%;
    gap: 20px;
}

.input-short {
    width: 50%; 
    padding: 8px;
    margin: 8px 0;
    
    background-color: rgb(71, 69, 69);
    border: none;
    /* color: white; */
    border-radius: 10px;}
   
.input-wide {
    width: 100%; 
    padding: 8px;
   margin-top: 10px;
   margin-bottom: 20px;
   /* color: white; */
    gap: 10px;
    background-color: rgb(71, 69, 69);
    border: none;
    border-radius: 10px;
}

.from-input {
    display: flex;
    gap: 10px;
  
}

.right-side button {
    display: block;
    width: 25%;
    padding: 10px;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.fifth-section {
    text-align: center; 
   
}

.fifth-container-heading{
    text-align: center;
   
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.fifth-container-text{
    text-align: center;
    color:rgb(175, 174, 174);
    font-size: 12px;
}
.trainer {
    padding: 20px; 
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
   width: 100%;
   max-width: 80%;
   margin: 0 auto;
}

.first-row, .second-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.trainer-item {
    position: relative;
    width: 380px; 
}

.trainer-item img {
    width: 100%; 
    height: 100%;
    border-radius: 10px;
}

.overlay-text {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    
}

.footer {
    margin-top: 30px;

   
    display: flex;
    
    background-color: #333; 
    color: white; 
    
    margin-bottom: 0; 
}


.footer-column {
    flex: 1; 
    justify-content: center;
   
    padding: 0 50px; 
    text-align: start; 
}

.footer-text{
    margin-bottom: 10px; 
    margin-top: 20px;
    color: white;
}
.footer-fitness-s {
    margin-bottom: 10px; 
    color: #6e6e6e;
    font-size: 14px;
}
.footer-tex-s{
    margin-bottom: 10px; 
    color: #6e6e6e;
    font-size: 20px;
    font-weight: bold;
}
.footer-fitness{
    color: rgba(230, 83, 60, 1);
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 10px; 
}
@media screen and (max-width: 576px){
    .bmi-container {
        flex-direction: column;
        align-items:flex-start;
       
        
    }
    
    .left-side, .right-side {
        width: 90%; /* Full width for stacked layout */
        margin-bottom: 10px;
        text-align: left;
       
    }
    
    .input-short, .input-wide, .right-side button {
        width: 100%;
    }
    .nav-links {
        display: none;
    }
 
.fa-solid {
    color: white;
    /* display: block; */
    
}
.banner-content  {
    display: flex;
    
    flex-direction: column;
    padding: 5px;
}
.body-image div {
    flex: 1 1 100%;  
    margin: 10px 0; 
    padding: 5px; 

    }
   
    .third-section{
        display: flex;
        flex-direction: column-reverse;
        padding: 5px;
    }
   
    .trainer-item {
        width: 100%; 
        max-width: 95%; 
    }

    .first-row, .second-row {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
  
    .footer {
        flex-direction: column;
        align-items: start; 
    }
    
    .footer-column {
        padding: 20px 5px;
        text-align:start; 
        width: 95%; 
    }
    
  
}
 

@media screen and (min-width: 576px) and (max-width: 992px) {
    .trainer {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
    .trainer-item {
        width: 90%; /* Full width for smaller screens */
    }
    
    .overlay-text {
        font-size: 14px;
        padding: 4px 8px;
    }
    .navbar {
        flex-direction: row; 
    }

    .nav-links {
        flex-direction: row; 
    }
  
    /* Stack `.bmi-container` sections vertically */
    
    .fa-solid {
        display: none;
    }
  
    .banner-content {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

 
    .third-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .bmi-container {
        display: flex;
        flex-direction: column;
        /* padding: 20px; */
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.1);
        /* gap: 20px; */
        border-radius: 10px;
        margin: auto;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .left-side {
        width: 50%; 
        text-align: left; 
        margin-bottom: 10px;
    }
     .right-side {
        width: 95%; 
        text-align: left; 
       /* align-items: center; */
       /* justify-content: center; */
    }

    .input-short, .input-wide {
        width: 100%; 
    }

    .from-input {
        display: flex;
        gap: 10px;
    }

    .right-side button {
        width: 30%; 
        padding: 12px;
        background-color: rgba(230, 83, 60, 1);
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    .trainer {
        padding: 20px;     
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
       width: 100%;
       max-width: 80%;
       margin: 0 auto;
    }
   
    .footer {
        flex-direction: column; 
    }

    .footer-column:first-child {
        order: 1; 
    }

    .footer-column:nth-child(2), .footer-column:nth-child(3) {
       order: 2;
       
       
    }
    
}
